<div class="row gx-3 gx-lg-3 align-items-center my-5 container px-4 px-lg-5" style="margin: auto;">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
            src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">PC Webshop</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda commodi, voluptatum distinctio, sed saepe
            nesciunt adipisci perspiciatis harum nihil eveniet magni vel, neque voluptatem molestiae! Qui obcaecati
            molestias cumque quas.</p>
        <a class="btn btn-primary" href="#!">Call to Action!</a>
    </div>
</div>